.header{
  display: flex;
  // float: left;
}
ul {
  padding-left: 10px;
}
.header-centent{
  width: 1046px;
  margin: auto;
}
.header-list{
  display: inline-block;
}
.header-search{
  height: 41px;
}