@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bmcmt5');
  src:  url('fonts/icomoon.eot?bmcmt5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bmcmt5') format('truetype'),
    url('fonts/icomoon.woff?bmcmt5') format('woff'),
    url('fonts/icomoon.svg?bmcmt5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e904";
  color: #fff;
}
.icon-shouye:before {
  content: "\e905";
  color: #fff;
}
.icon-xiaoshi:before {
  content: "\e906";
  color: #fff;
}
.icon-yixiangkan:before {
  content: "\e907";
  color: #fff;
}
.icon-icon-statistics:before {
  content: "\e901";
  color: #fff;
}
.icon-kuozhangongneng:before {
  content: "\e902";
  color: #fff;
}
.icon-rencaiku:before {
  content: "\e903";
  color: #fff;
}
.icon-music:before {
  content: "\e908";
  color: #fff;
}
.icon-movie:before {
  content: "\e909";
  color: #e6e6e6;
}
.icon-nickname:before {
  content: "\e900";
  color: #dbdbdb;
}
