.input-box{
    width: 105px;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 2px;
    margin-left:10px;
    padding: 0 25px 0 5px;
    font-size: 12px;
    color: white;
    background-color: rgba(0,255,255,.25);
    transition: width 0.4s ease-in-out;
}
.input-box:focus{
    width: 120px;
    color:black;
    background-color: white;
}
.input-shell{
    position: absolute;
}
input::-webkit-input-placeholder{
    color:white;
}
.search-tag{
    position:absolute;
    top: 2px;
    right: 4px;
}