.shell{
  padding: 8px;
}
.input-shell{
  display: inline-block;
  margin-top: 1px;
}
.content-right{
  width: 27px;
  height: 20px;  
  display: inline-block;
  text-align: center;
  background-color: #04c3e0;
  padding-top:4px;
  margin-left:1px;
  border-radius: 2px;
}
.content-left{
  width: 22px;
  height: 20px;
  display: inline-block;
  text-align: center;
  background-color: #04c3e0;
  padding-top:4px;
  border-radius: 2px;
}