.header-item-overall{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #04c3e0;
}
.header-item-content{
  display: none; 
  position:absolute ;
  width:520px;
  //height: 22px;
  color: #404040;
  z-index: 550;
  background-color: #04c3e0;
  overflow: hidden;
}
.icon-down{
  width: 0;
  height: 0;
  font-size: 0;
  border-width: 3px;
  border-style: solid dashed dashed dashed;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  margin-top:3px;
  margin-right: 8px;
  color: white;
}